.store-breadcrumb__wrapper {
  background-color: $background-color-gray;
}

.store-breadcrumb {
  height: 120px;
  line-height: 80px;

  &__title {
    font-size: 28px;
  }
}

.store-about {
  min-height: calc(100vh - 140px - 120px - 130px);

  &__title {
    font-size: 32px;
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
  }

  &__desc {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
  }

  &__feature-wrapper {
    display: flex;
    justify-content: space-evenly;
  }

  &__feature {
    text-align: center;

    &__img-wrapper {
      max-width: 100px;
      display: inline-block;
      margin-bottom: 20px;

      img {
        width: 100%;
      }
    }

    &__title {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    &__desc {
      font-size: 14px;
      color: $text-color-gray;
    }
  }
}