.btn {
  height: 48px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
    transition: all 0.2s ease;
  }
}

.button-action {
  width: 48px;
  background: $background-color-white;
  border: 1px solid $border-color-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;

  svg {
    max-width: 24px;
    width: 100%;
    fill:$background-color-blue;
  }

  &:active {
    border: 1px solid $background-color-red;

    svg {
      fill: $background-color-red;
    }
  }
}

.button-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $background-color-blue;
  border: 1px solid $border-color-blue;
  color: $text-color-white;
  font-weight: 700;
  font-size: 18px;
  font-weight: 600;
  padding: 0px 16px;
  width: 170px;

  img {
    max-width: 22px;
    width: 100%;
    margin-right: 10px;
  }

  &:active {
    background-color: $background-color-red;
    border: 1px solid $background-color-red;
  }
}

.button {
  display: inline-block;
  line-height: 48px;
  height: 48px;
  width: 150px;
  background: $background-color-blue;
  border: 1px solid $border-color-blue;
  border-radius: 4px;
  color: $text-color-white;
  font-weight: 700;
  text-decoration: none;
  padding: 0px 16px;
  cursor: pointer;
  text-align: center;
  cursor: pointer;

  &:active {
    background-color: $background-color-red;
    border: 1px solid $background-color-red;
  }
}

.button-amount {
  height: 34px;
  width: 34px;
  border: 1px solid $border-color-blue;
  background: $background-color-white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;

  &.minus {
    background-image: url("/src/assets/icons/minus.svg");
  }

  &.plus {
    background-image: url("/src/assets/icons/plus.svg");
  }
}

.button-remove {
  height: 25px;
  width: 25px;
  border: 1px solid $border-color-blue;
  background: $background-color-blue;
  opacity: 0.5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  cursor: pointer;
  background-image: url("/src/assets/icons/remove.svg");
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    border: 1px solid $border-color-red;
    background: $background-color-red;
    background-image: url("/src/assets/icons/remove.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    transition: all 0.3s ease-in;
  }
}
