.store-cart__overlay {
  display: none;
  position: absolute;
  top: 0px;
  width: 100%;
  min-height: 100%;
  background: #3c3c3c78;


    &.active {
    display: flex;
    justify-content: end;
  }
}

.store-cart {
  background: $background-color-white;
  width: 700px;
  padding: 20px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 20px;

    &__title {
      font-size: 28px;
      font-weight: 700;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 30px;

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      border: 1px solid $background-color-gray-primary;
      padding: 10px;

      &:last-child {
        margin-bottom: 0px;
      }

      &__wrapper {
        max-width: 200px;
        width: 100%;
        height: 140px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__name {
        display: flex;
        flex-direction: column;
        width: 130px;

        &-title {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 10px;
        }

        &-desc {
          color: $text-color-gray;
        }
      }

      &__amount {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-number {
          font-size: 18px;
          font-weight: 600;
        }
      }

      &__price {
        font-size: 20px;
        font-weight: 600;
      }
    }
  }

  &__total-price {
    text-align: end;
    padding: 20px;

    &__title {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 20px;
    }
  }

  &__empty {
    text-align: center;

    &__title {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 20px;
    }
  }
}