.store-feature {
  min-height: calc(100vh - 140px - 260px - 130px);

  &__title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }

  &__product-random {
    display: flex;
    justify-content: space-between;
  }

}