.store-footer__wrapper {
  background-color: $background-color-gray-primary;
}

.store-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 130px;

  &__item {
    display: flex;
    flex-direction: column;

    &__title {
      font-weight: 700;
      margin-bottom: 12px;
    }

    &__colum-wrapper {
      display: flex;
    }

    &__colum {
      margin-right: 20px;
    }

    &__link {
      font-size: 14px;
      color: $text-color-link;
      margin-bottom: 12px;
      display: flex;
      align-items: center;

      &-img {
        width: 100%;
        max-width: 20px;
        text-decoration: none;
        margin-right: 18px;
      }

      &:last-child {
        margin-bottom: 0px;
      }
    }

    &__contact-phone {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 12px;
    }

    &__contact-email {
      font-size: 18px;
    }
  }
}
