.store-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;

  &__nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;

    &__item {
      margin-right: 100px;
      cursor: pointer;
      font-weight: 700;
      font-size: 18px;

      &:last-child {
        margin-right: 0px;
      }

      &-link {
        text-decoration: none;
        color: $text-color-black;

        &.active {
          color: $text-color-blue;
        }

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  &__button-action {
    display: flex;
  }
}

.button-action:last-child {
    margin-right: 0px;
}

.counter__wrapper {
  position: relative;
}

.counter {
  position: absolute;
  top: -10px;
  right: -10px;
  height: 25px;
  width: 25px;
  border: 1px solid $border-color-blue;
  background: $background-color-blue;
  border-radius: 50%;
  color: $text-color-white;
  line-height: 24px;
  font-weight: 700;
  display: none;

  &.active {
    display: inline-block;
  }
}
