.store-hero__wrapper {
  // background: $background-color-gray-primary;
  background-image: url("../assets/images/background-hero.jpg");
  background-size: cover;
  background-position: center;
}

.store-hero {
  height: 260px;

  &__title {
    font-size: 78px;
    margin-bottom: 20px;
    font-family: $font-family-secondary;
    color: $text-color-white;
  }

  &__desc {
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 34px;
    font-family: $font-family-secondary;
    color: $text-color-white;
  }
}
