.store-logo {
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
  
  img {
    max-width: 80px;
    width: 100%;
    margin-bottom: 10px;
  }

  &__desc {
    font-weight: 700;
    font-size: 18px;
    color: $text-color-blue;
  }
}
