.store-product {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  &.container {
    padding: 20px 10px;
  }

  &__card {
    width: calc(25% - 20px);
    padding: 16px;
    margin: 0px 10px 20px;
    border-radius: 4px;
    border: 1px solid $border-color-grey;
    cursor: pointer;

    &:hover {
      border: 1px solid $border-color-grey-hover;
      transform: all 0.2s ease;
      box-shadow: #00000029 0px 1px 4px;;
    }

    &__img-wrapper {
      width: 100%;
      height: 140px;
      margin-bottom: 20px;
      overflow: hidden;

      img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      }
    }

    &__title {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    &__price {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    &__button-wrapper {
      display: flex;
      justify-content: space-between;
    }
  }
}