$text-color-black: #1A1A1A;
$text-color-blue: #7988FD;
$text-color-white: #ffffff;
$text-color-gray: #B4B4B4;
$text-color-link: #949494;

$border-color-blue: #7988FD;
$border-color-red: #bd2d2d;
$border-color-grey:#d8d8d8;
$border-color-grey-hover:#828282;

$background-color-gray-primary: #d8d8d8;
$background-color-gray: #F2F2F2;
$background-color-blue: #7988FD;
$background-color-white: #ffffff;
$background-color-red: #bd2d2d;

$font-family-primary: "Urbanist";
$font-family-secondary: "Allura";
