@import "_variables.scss";
@import "_fonts.scss";
@import "_header.scss";
@import "_footer.scss";
@import "_logo.scss";
@import "_hero.scss";
@import "_feature.scss";
@import "_about.scss";
@import "_product.scss";
@import "_button.scss";
@import "_cart.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family-primary;
  color: $text-color-black;
  position: relative;
}

.container {
  max-width: 1260px;
  margin: 0px auto;
  padding: 20px;
}
